{% extends "main.html" %}
{% block content %}
	<h1>Список федеральных законов</h1>

	<table cellpadding=10 border=1>
		<tr>
		<th>Номер</th><th>Содержание</th><th>Ссылка</th>
		</tr>
		<tr>
		<td>ФЗ-187</td>
		<td>О БЕЗОПАСНОСТИ КРИТИЧЕСКОЙ ИНФОРМАЦИОННОЙ ИНФРАСТРУКТУРЫ РОССИЙСКОЙ ФЕДЕРАЦИИ</td>
		<td>https://fstec.ru/tekhnicheskaya-zashchita-informatsii/obespechenie-bezopasnosti-kriticheskoj-informatsionnoj-infrastruktury/285-zakony/1610-federalnyj-zakon-ot-26-iyulya-2017-g-n-187-fz</td>
		</tr>
		<tr>
		<td>ФЗ-152</td>
		<td>О персональных данных</td>
		<td>https://rg.ru/2006/07/29/personaljnye-dannye-dok.html</td>
		</tr>
		<tr>
		<td>ФЗ-149</td>
		<td>Об информации, информационных технологиях и о защите информации</td>
		<td>/://rg.ru/2006/07/29/informacia-dok.html</td>
		</tr>
	</table>

{% endblock %}

