{% extends "main.html" %}

{% block content %}
{% if request.user.is_authenticated %}
{% load static %}
<script src="//unpkg.com/force-graph"></script>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
<script>
    const graph = {{ graph_obj }}
</script>
<div id="viz" style="background-color: #ffffff"></div>
<script>
    function getLines(ctx, text, maxwidth=60) {
        let words = text.split(" ")
        let lines = []
        let line = ""
        for (const word of words) {
            let ncl = `${line} ${word}`
            let width = ctx.measureText(ncl).width
            if (width<maxwidth||line.length==0)
             line=ncl
             else{
                lines.push(line)
                line =''
                         }
        }
        if (line.length>0)
        lines.push(line)
        return lines
    }
    function max(a){
        let r = -Infinity
        a.forEach(element => {
            if (element>r) r = element
        });
        return r
    }

    const Graph = ForceGraph()(document.getElementById('viz'))
        // .linkCurvature(0.6)
        .graphData(graph)
        .nodeAutoColorBy('type')
        .nodeCanvasObject((node, ctx, globalScale) => {
            {% comment %} console.log(globalScale) {% endcomment %}
            const fontSize = 24 * globalScale
            if (fontSize<6) {
            ctx.fillStyle = '#eee';
            ctx.fillRect(node.x - 4, node.y - 4,8,8);
                return
            }
            const DOMURL = window.URL || window.webkitURL || window

            let template = ['']

            if (node.type == "term")
                template = [node.name, `Эксперт: ${node.expert}`]
            // else if (node.type == "source")
            //     // template = [node.name]
            //     ;
            else if (node.type == "rel")
            template = [node.name]
            else
                console.log(node)

            ctx.font = `${fontSize}px Sans-Serif`;

            const lines=template//getLines(ctx, template)
            const textWidth = lines.map(l=>ctx.measureText(l).width);
            const bckgDimensions = [max(textWidth), fontSize*lines.length*1.5].map(n => n + fontSize * 0.2); // some padding
            ctx.fillStyle = '#eee';
            ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);

            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.fillStyle = node.color;
            
            for (let i = 0; i < lines.length; i++) {
                const element = lines[i];
                ctx.fillText(element, node.x, node.y+fontSize*i//-bckgDimensions[1]*lines.length/2
                );
            }
                        

            node.__bckgDimensions = bckgDimensions; // to re-use in nodePointerAreaPaint
        })
        .nodePointerAreaPaint((node, color, ctx) => {
            ctx.fillStyle = color;
            const bckgDimensions = node.__bckgDimensions;
            bckgDimensions && ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);
        })
        .width(window.innerWidth*0.5)
        .height(window.innerHeight*0.5)
        .d3Force("charge", d3.forceManyBody().strength(-64))
        .onNodeDragEnd(node => {
            node.fx = node.x
            node.fy = node.y
        })
        .onNodeClick(node=>{
            let infoEelement = document.getElementById('node-info')
            infoEelement.innerHTML=`<h1>${node.name}</h1><p>Дополнительная информация, получаемая с сервера</p>`
            infoEelement.style.left=node.x
            infoEelement.style.top=node.y
        });
    {% comment %} Graph.width(100)
    Graph.height(100) {% endcomment %}
    setTimeout(() => Graph.zoomToFit(400, 80), 5000)
</script>
<div id='node-info' style="position: absolute; width: 400px; height: fit-content; border: 1px solid black;"></div>
{% endif %}

{% endblock %}